.header {
  border: 5px solid var(--color2);
  background-color: var(--color5);
  padding: 0px;
  margin-bottom: 50px;
}

.header h1 {
  color: var(--color3);
  text-align: center;
}

.jobs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* anchor to top */
  align-items: flex-start; /* optional: left align items */
  color: var(--color2);
  gap: 30px;
  margin-left: 50px;
  cursor: pointer;
}

.job {
  border: 2px solid var(--color2);
  width: 400px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  align-content: center;
  transition: 0.3s ease;
}

.job h2 {
  font-size: var(--job-font-size);
  margin: 8px 0;
}

.job:hover {
  background-color: var(--color5);
  color: var(--color2);
  transform: scale(1.05);
}

.job:active {
  background-color: rgb(200, 200, 200);
  color: var(--color1);
}

.content {
  display: flex;
  flex-direction: row;
  color: var(--color2);
}

.job-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px solid var(--color5);
  border-radius: 20px;
  padding-bottom: 40px;
  gap: 20px;
  margin-left: 20px;
}

.job-details-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.jobButton {
  background-color: var(--color1);
  border: 2px solid var(--color2);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--color2);
  cursor: pointer;
  transition: 0.3s ease;
}

.jobButton:hover {
  background-color: var(--color5);
  transform: scale(1.05);
}

.job-details:hover {
  box-shadow: 2px 2px 4px var(--color5);
  background-color: var(--color5);
}

.edit-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--color2);
}

.message {
  max-width: 40vw;
}