.header {
    text-align: center;
    padding-top: 20px;
}

.header h1 {
    color: var(--color2);
}

.jobs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color2);
    gap: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.job {
    border: 2px solid var(--color2);
    width: 100px;
    text-align: center;
    border-radius: 10px;
}

.job:hover {
    background-color: var(--color2);
    color: var(--color1);
}

.job:active {
    background-color: rgb(200, 200, 200);
    color: var(--color1);
}


.view-icon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    color: var(--color2);
}

.content {
  display: flex;
  flex-direction: row;
  color: var(--color2);
}

.job-details {
  flex: 1;                    
  display: flex;
  flex-direction: column;
  align-items: center;        
  text-align: center;        
  justify-content: center;  
  color: var(--color2);
}

.edit-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--color2);
}