:root {
    font-family: Arial, Helvetica, sans-serif;
    --color1: white;
    --color2: black;
    --color3: rgb(212, 5, 5);
    --color4: rgba(0, 0, 255, 0.553);
    --color5: rgba(128, 128, 128, 0.344);
    --job-font-size: 15px;
}

body {
    background-color: var(--color1);
}